@model  WebStartUp.kaspi.lab.service.ProductDTO
@{
    ViewBag.Title = "ShowProduct";
}

<h2>@Model.ProductName</h2>
@Html.Raw("<img style='width:200px; height:180px;' src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(@Model.LargePhoto) + "\" />")
<h2>описание @Model.Description</h2>

